<<<<<<< HEAD
﻿* {
=======
* {
>>>>>>> main
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 70%;
}

body {
  height: 100vh;
}
<<<<<<< HEAD
=======

>>>>>>> main
.layout-grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.myHeader {
  grid-area: header;
  background: #818181;
  color: #fdfdfd;
  font-size: 1.5rem;
  text-transform: capitalize;
  height: 100%;
  text-align: center;
}

.myMain {
  grid-area: main;
  background: #ececec;
  justify-self: center;
  width: fit-content;
  margin: 2rem 1rem;
  padding: 2rem;
}

.myFooter {
  grid-area: footer;
  background: #3d3d3d;
  color: #fdfdfd;
  font-size: 1.5rem;
  text-transform: capitalize;
  height: 100%;
  text-align: center;
}
